<h1>{{ roasts_title }}</h1>

<nav style="text-align: center; background-color: #d3d3d3;">
  <a href="/">Home</a>
  <a href="/sorted/">Sort</a>
  <a href="/boasts/">Boasts</a>
  <a href="/add-post/">Add</a>
</nav>

{% for post in roast_posts %}
<div style="padding: 5px; border: solid #222 1px; margin-bottom: 5px;">
  <h3>{{ post.content }}</h3>
  <h3>Roast</h3>
  <h3>{{ post.count_votes }}</h3>
  <a href="/upvote/{{post.id}}/">upvote</a>
  <a href="/downvote/{{post.id}}/">downvote</a>
  <h3>{{ post.post_date }}</h3>
</div>
{% endfor %}